*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.body {
  font-family: Roboto, sans-serif;
}

.nav_section {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 115px;
  background-color: rgba(0, 0, 0, 0.75);
}

.nav_section .container,
.row {
  height: 100%;
}

.logo_img {
  width: 260px;
}

.phone_nav {
  font-family: "Roboto Slab", sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: right;
}

.phone_number {
  color: #38bcdb;
}

@media (max-width: 767px) {
  .phone_nav {
    font-size: 1rem;
  }
  .hero_section {
    display: block;
    height: auto;
    padding-top: 178px;
    background-image: url("../images/data_mobile_hero.jpg");
  }
  .col_hero_left {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .hero_cont {
    display: none;
  }
  .hero-title {
    font-size: 30px;
  }
  .hero_subtitle {
    font-size: 20px;
  }
  .form_title {
    font-size: 28px;
  }
  .form {
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 0px;
    background-color: #fff;
  }
  .text_field_hero_form {
    font-size: 20px;
  }
  .form_btn {
    font-size: 24px;
  }
  .form_steps {
    font-size: 16px;
  }
  .hero_call_out {
    width: 100%;
    border-top: 4px solid #fff;
    border-bottom-style: none;
    text-align: center;
  }
  .hero_call_out.blue {
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .featuring_sect {
    background-image: -webkit-linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)
      ),
      url("../images/featuring_mobile.jpg");
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)
      ),
      url("../images/featuring_mobile.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .section_heading.faq {
    text-align: left;
  }
  .featuring_inner_cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .featuring_col {
    width: 100%;
  }
  .featuring_col.first {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .story_sect {
    background-image: url("../images/about_mobile.jpg");
  }
  .story_p {
    font-weight: 100;
  }
  .footer_copy {
    text-align: center;
  }
  .footer_cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .form-block {
    margin-bottom: 0px;
  }
  .slider {
    background-color: transparent;
  }
  .slide {
    padding-right: 75px;
    padding-left: 75px;
  }
  .slide-2 {
    padding-right: 75px;
    padding-left: 75px;
  }
}

@media (max-width: 479px) {
  .col_hero_left {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .hero_call_out {
    width: 100%;
    border-top: 4px solid #fff;
    border-bottom-style: none;
    text-align: center;
  }
  .hero_call_out.blue {
    border-top-color: #38bcdb;
  }
  .footer_copy {
    margin-top: 20px;
  }
  .slider {
    height: 100%;
    background-color: transparent;
  }
  .slider_icon {
    font-size: 25px;
  }
  .slide {
    padding-right: 75px;
    padding-left: 75px;
  }
  .slide-2 {
    padding-right: 75px;
    padding-left: 75px;
  }
}

@font-face {
  font-family: "Font awesome 5 free solid 900";
  src: url("../fonts/Font-Awesome-5-Free-Solid-900.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
