.navbar {
  height: 115px;
  background-color: rgba(0, 0, 0, 0.774);
}

.navbar-text {
  float: right;
  display: block;
  width: 300px;
  text-align: right;
}

.header {
  background-image: url(/assets/images/code_hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
